.lib-container{
  display: flex;
  flex-direction: column;
}

.card{
  border-radius: 10px
}

.card-header{
  background-color: #1A374D;
  color: #ffffff
}

.card-body{
  background-color: #ffffff;
  color: black;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-wrap: wrap;
}

.card-text{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; 
}


.popover{
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  min-width: min-content;
  background-color: #ffffff;
}

.popover-body{
  border-radius: 13px;
  display: flex;
  background-color: #ffffff;
  color: #1A374D;
}

.nav-link{
  color: #1A374D;
}

.tab-pane{
  display: flex;
  flex-wrap: wrap;
}