.lib-container{
  display: flex;
  flex-direction: column;
}

.card{
  border-radius: 10px
}

#card-header-lib{
  display: flex;
  background-color: #1A374D;
  color: #EEEEEE;
  justify-content: center;
}

.card-body{
  background-color: #B1D0E0;
  color: black;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-wrap: wrap;
}

.card-text{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


.popover{
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  min-width: min-content;
}

.popover-body{
  display: flex;
}

.lib-link{
  text-decoration: none;
  color: #ffffff;
}

.name-lib{
  display: flex;
  gap: 50px;
  justify-content: center;
}

.main{
  display: flex;
  align-items: center;
}

.search{
  border-radius: 40px;
}

h4{
  margin: 0
}