.post-card{
  display:flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.post-card-header-inner{
  display: flex;
  justify-content: center;
}

.post-card-body-inner{
  flex-direction: column;
  justify-content: center;
}

.post-card-text-inner{
  flex-direction: column;
  justify-content: center;
}